<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<h:head>
    <title>Title</title>
</h:head>
<h:body>
    <h1>Hello world</h1>
    <h2>http://localhost:8080/jsf-starter/</h2>
    <p>My first page</p>
</h:body>
</html>